<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iesb.greenfootprint">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <application
        android:name=".GreenApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_green"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_green"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoTitleBar">
        <activity android:name=".ui.activity.Sug_MapActivity"></activity>

        <activity android:name=".ui.activity.splash.SplashScreenActivity"/>
        <activity android:name=".ui.activity.MainActivity" />

        <activity android:name=".ui.activity.AuthActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA4Yzpl5sATLvHGsEtmXI2YxthHk_HygKI"/>

    </application>

</manifest>